html {
    margin: 0;
    padding: 0;
    height: 100%
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    height: 100%;
}

.header {
    display: flex;
    max-width: 100%;
    background-color: black;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    color: white;
    text-align: center;
}

/* .title-text {
    
} */

.logos {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%
}

.header-img {
    height: 100%;
    max-width: 100%;
}

.header-link {
    height: 80%;
    max-width: 100%;
}

.vu-logo {
    margin-right: 40px
}

.main-body {
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 22px 44px 22px 44px;
    /* min-height: 100%; */
    max-width: 2000px;
}

.main-container {
    display: flex;
    justify-content: center;
    min-height: 100%;
}

.plot-container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    margin-bottom: 22px;
    padding: 20px;
    /* min-height: 600px; */
}

.plot-title {
    text-align: center;
    width: 100%;
}

.plot {
    display: flex;
    width: 100%;
}

.dropdown-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 8px;
    margin: 0 5px 0 5px;
    font-weight: 600;
    font-size: medium;
  }

.button-link {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    transition: transform 0.1s ease; /* Add transition for smooth animation */
    margin-bottom: 5px;
    background-color: rgb(245, 255, 242);
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.button-link:hover {
    transform: scale(1.1); /* Scale the button by 10% on hover */
    animation: rainbow-border 5s infinite; /* Rainbow border animation */
    cursor: pointer;
}

@keyframes rainbow-border {
    0% {
        border-color: red; /* Start with red */
    }
    16.67% {
        border-color: orange; /* Transition to orange */
    }
    33.33% {
        border-color: yellow; /* Transition to yellow */
    }
    50% {
        border-color: green; /* Transition to green */
    }
    66.67% {
        border-color: blue; /* Transition to blue */
    }
    83.33% {
        border-color: indigo; /* Transition to indigo */
    }
    100% {
        border-color: violet; /* Transition back to red */
    }
}

.link-container {
    margin-top: 10px;
    margin-bottom: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.content-blocks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.citation-container {
    width: 45%;
}

.dataset-container {
    width: 45%;
}

.acknowledgement-container {
    width: 45%;
}

.team-container {
    width: 45%;
}

.citation-box {
    background: rgb(245, 255, 242);
    padding: 20px;
    font-family: 'Monaco', monospace;
    width: 90%
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: center;
}

